/*navigation-*/
.logo {
	width:162px;
	height:30px;
	display: inline-block;
    margin-top: 30px;
}

header li {
	display:inline-block;
	line-height:100px;
	padding-left: 40px;
	
}
.container-wide {
	padding-left: 30px;
	padding-right: 30px;
}

header {
	font-family:'nino_mtavruli_bold';
	
}
.navigation {
	float:right;
}
nav a:hover {
	color: #B8EDF8;
	transition:color 0.5s;

}

.navicon {
	display:none;
	float:right;
	border-left:1px solid  #B8EDF8 ;
	height:100px;
    width:133px;
	padding-left: 58px;
	padding-right:58px; 
	padding-top: 45px;
}


.navicon span {
	width : 35px;
	height : 2px;
	background: #B8EDF8;
    display:block;
    margin-top: 4px;
    margin-bottom: 4px;
}

.student {
	position:absolute;
	margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
	text-align:center;
	top:360px;
	color:#FFFFFF;
	font-size:28px;

}

/*services-*/

.container-main {
	max-width:1140px;
	margin-right: auto;
	margin-left: auto;
}
article {
	width:25%;
	display:inline-block;
}
.services {
text-align:center;
margin-right:15px;
margin-left:15px;
}
.flex-container {
	display:flex;
	flex-direction:row;
	justify-content: space-around;
	
	
}

/*box-*/

.flex-child:nth-of-type(4) {
	margin-right:0px;
}
.flex1 {
	width:42px;
}
.flex2 {
     width:82px;
}
.flex3{
	width:66px;
}
.flex4{
	width:81px;
}
.flex-child img {
	margin-top:33px;

}
.flex-child span {
   width:25px;
   height:1px;
   background-color:#b8edf8;
   display:block;
   margin-right: auto;
   margin-left: auto;
	margin-top:15px;
   
}
.flex-child {

	height : 90px;
}

.flexp {
padding-right: 30px;
padding-left: 30px;
font-family:nino-mkhedruli-book;
font-size:12px;
margin-bottom:45px;
}
.workspan {
	width:100px;
   height:2px;
   background-color:black;
   display:block;
   margin-right: auto;
   margin-left: auto;
   margin-bottom:120px;
	
}

/*paragraphs-*/

h3 {
	margin-top:70px;
	margin-bottom:15px; 
	font-family:'nino_mtavruli_bold';
}
h5 {
	font-family:'nino_mtavruli_bold';
	font-size:22px;
	margin-top:30px;
}

h3 {
	text-align:center;
	
}
 
 h2  {
	font-size:22px;
	font-family:nino-mkhedruli-book;
}
h1 {
	font-size:32px;
	margin-bottom:15px;
	font-family:'nino_mtavruli_bold';
}

h5 {
	text-align:center;
	padding-top: 60px;
	padding-bottom: 60px;
}

/*form-*/
div .form {
	display:flex;
	justify-content:center;
}
form {
	width:555px;;
}
input , textarea {
	width:100%;
	margin-bottom: 10px; 
}
.textarea {
	height:105px;
}

/*works-*/
.services{
	border:1px solid  #B8EDF8 ;
}
.davaleba4 {
width:33.33%;
overflow:hidden;
}
.homework1 img {
	width:100%;
	transition:transform .7s;
}
.davaleba4:hover  {
 transform: scale(1.5,1.5);
}

.container-about_me{
	background-color:;
}
.homework1 {
    margin-right:15px;
    margin-left:15px;
    display:flex;
	flex-direction:row;
	justify-content: space-around;
	
}
.homework1 img {
	width:360px;
	border:1px solid #B8EDF8;
	margin-left:15px;
	margin-bottom:15px;

}
.work:nth-of-type(3) {
	margin-right:0px;
}
.container-aboutme{
	background-color: #F1F1F1;
}
.container-form {
	background-color: #B8EDF8;
	height:350px;
}
form {
	margin-right: auto;
	margin-left: auto;

}
button {
	color:#7ec4ce;
	float:right;
}

/*aboutme-*/
.image{
	width:30%;
	margin-top:120px;
	margin-bottom:95px;
	margin-left:60px;
	float:left;

}

.text {
	
	display:inline-block;
	width:65%;
	padding-left:12%;
	margin-bottom: 90px;
}
	

.image {
  width: 200px;
  position: relative;
}
.aboutme {
  width: 100%;
  display: block;
}
.background {
  background: #B8EDF8;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 15px;
  left: 15px;
  z-index: -1;

}
/*footer - */

footer {
	background-color: #313332;
}
.logowhite {
	width: 162px;
	float:right;
	margin-top: 30px;
	margin-left:560px;
}
.footer {
	color: white;
	margin-left: 30px;	
}

footer h6 {
      font-family:nino-mkhedruli-book;
	line-height: 100px;
}
footer div {
	display: inline-block;
}

p {
	font-family:nino-mkhedruli-book;
}


/*responsive - */

@media all and (max-width: 992px) {
	.navicon {
		display:block;
	}
	
	nav ul {
		display:none;
	}

	.services {
		width:40%;
		margin:2%;
	}
	header {
	height: 100px;
   }
.flex-child{
	margin-right: auto;
	margin-left: auto;
}
.flex-child {
	width:50%;
}
.student {
	top:240px;
}
.homework1 {
      width:100%;
		
}
.homework1 {
	flex-flow:wrap;
}
.flex-container {
	flex-flow:wrap;
}

}


@media all and (max-width: 768px) {
	.navicon {
		display:block;
	}
	nav ul {
		display:none;
	}

	 .image, .text {
margin-right: auto;
	margin-left: auto;
  width:100%;
}

.logowhite , .footer {
width:100%;
}

}

@media all and (max-width: 576px) {
	.navicon {
		display:block;
	}
	.services {
		width:90%;
		margin:2%;
	}
	.student {
	top:120px;
  }
  form {
  	width:100%;
  }
  .footer {
  	width:100%;
  }


}
